::selection {
    background: var(--third-color);
    color: var(--primary-color);
}

* {
    margin: 0;
    line-height: 2rem;
    color: var(--third-color);;
}

:root {
    --primary-color: #424242;
    --secondary-color: #D9BD07;
    --third-color: #E8E3BE;
    --fourth-color: #ffffff;
    --fifth-color: #78f855;
    --font-family: "Brush Script MT", cursive;
}
body {
    font-family: var(--font-family);
    background-color: var(--primary-color);
    color: var(--third-color);
    padding: 20px;
}
p {
    font-size: 1em;
    line-height: 1.6;
}

progress {
    background: var(--third-color);
}

.project {
    border: var(--third-color) solid 2px;
    border-radius: 8px;
    margin: 0;
    box-shadow: 0 2px 4px var(--primary-color);
    padding: 1rem;
}
.project h2 {
    color: var(--third-color);
    font-family: var(--font-family);
}
.project p {
    color: var(--third-color);
    font-family: var(--font-family);
}
.about-heading {
    color: var(--third-color);
    font-family: var(--font-family);
}
a {
    color: var(--third-color);
}
.profile-pic {
    border-radius: 5px;
    border: 2px solid var(--third-color);
}
.skills {
max-width: 800px;
margin: auto;
text-align: center;
}

.skills h2 {
font-size: 2rem;
margin-bottom: 1.5rem;
}

.skill {
margin-bottom: 1rem;
display: flex;
flex: 3;
flex-direction: row;
column-gap: 1.38rem;
}

.skill p {
font-weight: bold;
}

.skills-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    width: 50vw;
    margin: 0 auto;
}

.skill {
    padding: 10px;
}

/* Skill Bar Container */
.skill-bar {
border-radius: 10px;
}

/* Progress Bar */
progress {
text-align: right;
padding: 10px;
border-radius: 5px;
}

.full__three_column {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 1rem;
    margin: 1rem;
}

body {
    margin : 0;
}

.gap__3_rem {
    grid-gap: 3rem;
}

.span__2_col {
    grid-column: span 2;
}

.text__column {
    grid-gap: 2rem;
}

.container {
    flex-wrap: wrap;
}
header {
    background: var(--third-color);
    height: 3rem;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0 3rem;
}

.header strong {
    color: var(--primary-color);
}

.nav {
    text-align: center;
}
.nav a {
    color: var(--primary-color);
    text-decoration: none;
    font-weight: bold;
    margin-left: 4rem;
}
.full__three_column_img {
    width: 100%;
    background: var(--secondary-color);
}
footer {
    background: var(--third-color);
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
}
footer a {
    color: var(--primary-color);
    text-decoration: none;
    font-weight: bold;
}
