::selection {
    background: var(--third-color);
    color: var(--primary-color);
}

* {
    margin: 0;
    line-height: 2rem;
    color: var(--third-color);
    box-sizing: border-box;
}

:root {
    --primary-color: #424242;
    --secondary-color: #D9BD07;
    --third-color: #E8E3BE;
    --fourth-color: #ffffff;
    --fifth-color: #78f855;
    --font-family: "ui-rounded";
}

body {
    font-family: var(--font-family);
    background-color: var(--primary-color);
    padding: 20px;
}

h3 {
    color: var(--primary-color);
}
p {
    font-size: 1em;
    line-height: 1.6;
}

progress {
    width: 220px;
    height: 16px;
    border: 2px solid var(--third-color);
    border-radius: 6px;
    background-color: var(--primary-color);
    appearance: none;
}

/* Chrome / Edge */
progress::-webkit-progress-bar {
    background-color: var(--primary-color);
    border-radius: 6px;
}

progress::-webkit-progress-value {
    background-color: var(--third-color);
    border-radius: 4px;
}

/* Firefox */
progress::-moz-progress-bar {
    background-color: var(--third-color);
    border-radius: 4px;
}

.skills {
    max-width: 900px;
    margin: auto;
    text-align: center;
}

.skills h2 {
    font-size: 2rem;
    margin-bottom: 2rem;
}

.skill {
    display: grid;
    grid-template-columns: 40px 80px 1fr;
    align-items: center;
    gap: 1rem;
    margin-bottom: 2rem;
}

.skill img {
    width: 50px;
    height: 50px;
}

.skill p {
    font-weight: bold;
}

.skills-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px 60px;
    width: 80%;
    margin: 0 auto;
    margin-bottom: 4rem;
}

.project {
    border: var(--primary-color) solid 2px;
    border-radius: 8px;
    margin-top: 2rem;
    box-shadow: 0 2px 4px var(--primary-color);
    padding: 2rem;
    background-color: var(--third-color);
}

/* Target text inside project */
.project p {
    color: var(--primary-color);
}

/* Specifically style the section title */
.project h2 {
    text-align: center;
    color: var(--primary-color);
}

.project-link-container {
    text-align: center;
}

.about-heading {
    color: var(--third-color);
    font-family: var(--font-family);
}

a {
    color: var(--primary-color);
    text-decoration: none;
}

.profile-pic {
    border-radius: 5px;
    border: 2px solid var(--primary-color);
}

.full__three_column {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 1rem;
    margin: 1rem;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
}

.gap__3_rem {
    grid-gap: 3rem;
}
.gap__1rem {
    grid-gap: 1rem;
}
.slides {
    border-radius: 5px;
    border: 2px solid var(--primary-color);
}

.span__2_col {
    grid-column: span 2;
}

.text__column {
    grid-gap: 2rem;
}

.container {
    flex-wrap: wrap;
}

header {
    background: var(--third-color);
    height: 3rem;
    align-items: center;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 0 3rem;
}

.header strong {
    color: var(--primary-color);
}

header nav {
    text-align: right;
    color: var(--primary-color);
    display: inline-block;
}

header a {
    color: var(--primary-color);
    text-decoration: none;
    font-weight: bold;
    margin-left: 4rem;
}

.full__three_column_img {
    width: 100%;
    background: var(--secondary-color);
    min-height: 100vh;
    display: flex;
    align-items: center;
}

footer {
    background: var(--primary-color);
    text-align: center;
    padding: 1rem;
    margin-top: 2rem;
}

footer a {
    color: var(--third-color);
    text-decoration: none;
    font-weight: bold;
}

.viewport {
    min-height: 100vh;
    width: 100%;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 20px;
    margin-top: 2rem;
}

.gallery-figure {
    display: flex;
    justify-content: center;
    align-items: center;
}

.about-text {
    color: #222;
    font-size: 2rem;
}
