---
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Tai Hopkins</title>
	</head>
	<body>
		<h1>Tai Hopkins</h1>
		<h2>Informatics Major</h2>
		<h3>Allgheny College Alumn 26'</h3>
		My initial interest in computers really took off in high school as I had just come across my first coding class. From there I started building computers to play video games and this led to me pursing Informatics at allegheny college and what also led me to build my first project DataSeekr.
	</body>
</html>
