---
const profilePic = "/img/profile-pic.jpg";
---

<section class="full__three_column_img" id="about-me">
  <div class="full__three_column gap__3_rem">
    
    <div class="span__2_col">
      <p class="about-text">
        <slot />
      </p>
    </div>

    <img src={profilePic} alt="Profile Picture" class="profile-pic"/>

  </div>
</section>
