---
const { bandTitle } = Astro.props;
---
<section class = "full_purple_band">
    <div class = "container gap__3_rem full__three_column">
        <div class = "span__2_col">
            <h2>{bandTitle}</h2>
            <p>
                <slot/>
            </p>
        </div>
        <img src = "/img/picture_placeholder.png" alt = "Image placeholder" />
    </div>
</section>
