---
const { projectName, projectLink } = Astro.props
---

<div class="project container">
    <project>
        <h2 class="project-title">
            {projectName}
        </h2>
        <p class="project-description">
           <slot />
        </p>
        <a href={projectLink} class="project-link">
            View Project
        </a>
    </project>
</div>
