---
const { projectName, projectLink } = Astro.props
---

<div class="project container">
    <project>
        <h2 class="project-title" style="text-align: center;">
            {projectName}
        </h2>
        <div style="text-align: center;">
            <p class="project-description">
               <slot />
            </p>
             <div class="project-link-container">
                <a href={projectLink} class="project-link ">
                    View Project
                </a>
             </div>
        </div>
    </project>
</div>
